<div class="card-hover-shadow-2x mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Todo Lists</div>
    </div>

    <div style="position: static;" class="ps ps--active-y">
        <div class="ps-content">
            <ul class=" list-group list-group-flush">

                <li *ngFor="let t of todolist" class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-2">
                                <div class="custom-control" style="padding-left:0px;">
                                    <div [ngSwitch]="t.state">
                                        <div *ngSwitchCase="'進行中'" class="badge badge-pill badge-info ml-2">進行中</div>
                                        <div *ngSwitchCase="'完了'" class="badge badge-pill badge-success ml-2">完了</div>
                                        <div *ngSwitchDefault class="badge badge-pill badge-light ml-2">TODO(着手前)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left">
                                    <div [ngSwitch]="t.category.name">
                                        <div class="widget-heading">
                                            {{t.title}}
                                            <div *ngSwitchCase="'未選択'" class="badge badge-secondary ml-2">どのカテゴリにも紐づいていない</div>
                                            <div *ngSwitchCase="'フロントエンド'" class="badge badge-primary ml-2">フロントエンド</div>
                                            <div *ngSwitchCase="'バックエンド'" class="badge badge-warning ml-2">バックエンド</div>
                                            <div *ngSwitchCase="'インフラ'" class="badge badge-success ml-2">インフラ</div>
                                            <div *ngSwitchDefault class="badge badge-primary ml-2">TODO(着手前)</div>
                                        </div>
                                    </div>
                                <div class="widget-subheading" >{{t.body}}</div>
                            </div>
                            <div class="widget-content-right">
                                <a [routerLink]="['/todo/edit',t.id]"  >
                                    <button class="border-0 btn-transition btn btn-outline-success" > <i class="fa fa-edit"></i></button>
                                </a>
                                <a [routerLink]="['/todo/delete',t.id]"  >
                                <button class="border-0 btn-transition btn btn-outline-danger"> <i class="fa fa-trash"></i> </button> 
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-block text-right card-footer">
        <a [routerLink]="['/home']" >Home</a>
        <button class="mr-2 btn btn-link btn-sm"></button>
        <button class="btn btn-primary" (click)="addTodo()">Add Todo</button>
    </div>
</div>
