<h1>Add Category</h1>

<div>
  <form>
    <label for="name">カテゴリ</label>
    <input type="text" id="name" name="name" placeholder="category name.." [(ngModel)]="categoryForm.name">

    <label for="slug">slug</label>
    <input type="text" id="slug" name="slug" placeholder="slug content.." [(ngModel)]="categoryForm.slug">

    <label for="category">カラー</label>

    <select id="category" name="color" [(ngModel)]="categoryForm.color">
		<option [value]="'1'">BULUE</option>
        <option [value]="'2'">RED</option>
        <option [value]="'3'">GREEN</option>
    </select>
    
    <input type="submit" value="Submit" (click) = "doSubmit()">
  </form>
</div>

<pre>

	{{categoryForm | json}}
</pre>

